* {  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;  
}  

.main {
   width: 80%;
   margin: 0 auto;
   margin-top: 5%;
}

body {  
    font-family: Arial, sans-serif;  
    background-color: #f4f4f4;
    /* không cho chọn văn bản */
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;    
    user-select: none; 
}  

/* Sidebar */  
.sidebar {  
    position: fixed;  
    width: 250px;  
    height: 100%;  
    background-color: #2c3e50;  
    color: white;  
    padding: 15px;  
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  
}  

.sidebar a {  
    color: white;  
    text-decoration: none;  
    display: block;  
    padding: 10px 15px;  
    margin: 5px 0;  
    transition: background 0.3s;  
}  

.sidebar a:hover, .sidebar a.active {  
    background-color: #34495e;  
}  

/* Nội dung chính */  
.container {  
    margin-left: 270px;
    padding: 20px;  
}  

/* Tiêu đề */  
h2 {  
    text-align: center;  
    color: #FF7E29;  
    margin-bottom: 20px;  
    margin-top: 20px;  
}  

h3 {  
    color: #FF7E29;  
    margin: 15px 0;  
    font-size: 24px;
    font-weight: bold;
}  

/* Thanh tìm kiếm */  
.filter-bar {  
    margin-top: 25px;
    margin-bottom: 40px;  
    text-align: center;
} 

.filter-bar form{
    align-items: center;
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.filter-bar select, 
.filter-bar input[type="date"] {
    padding: 3px 10px;
    border: 1px solid #434343;
    border-radius: 10px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.filter-bar select:focus, 
.filter-bar input[type="date"]:focus {  
    border-color: #FF7E29; 
    outline: none; 
}  

.filter-bar button {  
    border: 1px solid #963e03;
    background-color: #FF7E29;  
    color: white;    
    padding: 6px 20px;  
    cursor: pointer;  
    border-radius: 10px;  
    transition: transform 0.3s ease, background-color 0.3s ease;
}  

.filter-bar button:hover {  
    font-weight: bold;
    background-color: #ff5e00;  
    transform: scale(1.1); 
}

/* Bảng chi tiết chấm công */  
.attendance-details {
    margin-top: 20px;
}

.attendance-details table {
    width: 100%;
    border-collapse: collapse;
}

.attendance-details th, 
.attendance-details td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.attendance-details th {
    background-color: #FF7E29;
    color: white;
}

.attendance-details tr:hover {
    background-color: #eaeaea;
}

.list-dsnv {
    max-height: 350px; /* Đặt chiều cao tối đa cho menu */  
    overflow-y: auto;   /* Cho phép cuộn dọc */ 
    border: 1px solid #ccc; /* Thêm đường viền cho dễ phân biệt */  
    border-radius: 10px; /* Bo góc */

}

.employee-list tr td {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    text-align: left;
}

.back-button-view button {
    float: left;
    background-color: #FF7E29;
    color: white;
    border: none;
    padding: 7px 15px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.back-button-view button:hover{
    background-color: #ff5e00;
    transform: scale(1.1); 
}

.employee-list thead {
    position: sticky;
    top: -2px;
    z-index: 1;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.select-calam label,
.chon-ngay label {
    font-weight: bold;
}

.export-button-view button{
    border: 1px solid  #0e953e;
    float: right;
    background-color: transparent;
    color:  #0e953e;
    padding: 7px 15px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.export-button-view button:hover {
    background-color: #0e953e;
    color: white;
    transform: scale(1.1); 
}