* {  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;  
}  

body {
    font-family: Arial, sans-serif;  
    background-color: #f4f4f4;  
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
th {
    color: #000;
    background-color: #f2f2f2;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#submitTimKiem{
    background-color: #768076;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button.cancel {
    background-color: #f44336;
}
.edit-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}
.edit-form label {
    display: block;
    margin-bottom: 5px;
}
.edit-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.success-message {
    color: green;
    margin-top: 10px;
}

.table td, .table th {
    border: none;  /* Bỏ viền các thẻ td và th */
}