body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: #FF7E29;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: right;
}

.header .logo {
    font-size: 13px;
    font-weight: bold;
}

.header .user-icon {
    font-size: 20px;
}

/* Navbar */
.navbar {
    background-color: #fb9200;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
}

.navbar a:hover {
    background-color: #715029;
    border-radius: 5px;
}

/* Dropdown menus */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1881a;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #8A6341;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #db5a04, #FFAB4C);
    padding-top: 20px;
    z-index: 1;
    font-size: 14px;
    color: white;
    padding-left: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Search bar */
.search-bar {
    margin-right: 20px;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    background-color:rgba(255, 0, 0, 0);
    border: solid 1px white;
}

/* qlnlchuoicuahang */
.btn-detail{
    background-color: #ec9262;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ffffff;
    border-bottom:1px solid   #ec9262;
    padding: 10px;
    text-align: center;
}
th {
    background-color:  #ec9262;
    color: white;
}
.btn-detail:hover {
    background-color:  #ec9262;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color:  #ec9262;
}
.themmoi{
    background-color:  #ec9262;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.capnhat{
    background-color:  #ec9262;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* chitietnguyenlieu */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
}

.container .header {
    display: flex;
    margin: 0;
    justify-content: space-between;
    width: 100%;
}

.container h2 {
    margin-bottom: 20px;
}

.container .details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-approve {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #db5a04;;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.close-btn {
    background-color:rgba(255, 0, 0, 0);
    color: #db5a04;
    border: white
}
.close-btn:hover {
    color: white;
}
/* themnguyenlieumoi */
.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-them {
    width: 100%;
    padding: 10px;
    background-color: #5d4037;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-them:hover {
    background-color: #3e2723;
}  